<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<h2>Add User</h2>

<form action="/addUser" method="post">
    Name: <input type="text" name="name" required />
    Email: <input type="text" name="email" required />
    <button type="submit">Add</button>
</form>

<hr>

<h2>User List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{'/editUser/' + ${user.id}}">Edit</a>
            |
            <a th:href="@{'/deleteUser/' + ${user.id}}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>