<form action="/booking/create" method="post">

<input type="hidden" name="partnerId" th:value="${booking.partnerId}">

<label>Your Name</label>
<input type="text" name="customerName">

<label>Date</label>
<input type="date" name="bookingDate">

<label>Select Time Slot</label>

<select name="timeSlot" required>
<option value="">--Select--</option>
<option value="9AM-11AM">9 AM - 11 AM</option>
<option value="11AM-1PM">11 AM - 1 PM</option>
<option value="2PM-4PM">2 PM - 4 PM</option>
<option value="4PM-6PM">4 PM - 6 PM</option>
</select>
<button class="btn-primary">Book Service</button>

</form>