<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>provide profile</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
  <div class="card">
    <h2 th:text="${provider.name}"></h2>
    <p>Service: <span th:text="${provider.serviceType}"></span></p>
    <p>Experience: <span th:text="${provider.experience}"></span></p>
    <a th:href="@{/booking/{id}(id=${provider.id})}" class="btn btn-primary">Book Service</a>
  </div>
</div>
</body>
</html>