<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Services</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h1>Available Service Providers</h1>

<div th:each="service : ${services}" class="service-card">

<h3 th:text="${service.serviceType}"></h3>

<p>
Provider:
<span th:text="${service.name}"></span>
</p>

<p>
Experience:
<span th:text="${service.experience}"></span> years
</p>

<a th:href="@{/booking/form/{partnerId}(partnerId=${service.id})}">
Book Service
</a>
<a href="/my-bookings">My Bookings</a>
</div>

</div>

</div>

</body>
</html>